<%- include('includes/head.ejs') %>

<body>
    
    <h1>User</h1>
    
    <div class="row-users">
        <h2 class="one-user">Firstname</h2>
        <h2 class="one-user">Lastname</h2>
        <h2 class="one-user">Email</h2>
        <h2 class="one-user">Password</h2>
    </div>
 
    <div class="row-users">
    <p class="one-user"><%= firstname %></p>
    <p class="one-user"><%= lastname %></p>
    <p class="one-user"><%= email %></p>
    <p class="one-user"><%= password %></p>
    </div>

</body>

</html>
